<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
    <link rel="stylesheet" href="/site_media/style/screen.css" type="text/css" media="screen" charset="utf-8"0> 
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/> 
    <script type="text/javascript" charset="utf-8" src="/site_media/scripts/jquery.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/site_media/jui/jquery-ui.min.js"></script> 
    <script type="text/javascript" charset="utf-8" src="/site_media/scripts/main.js"> </script> 

    <title>
        饭否好友管理
    </title> 
</head> 
<body> 
    <table width="960" border="0" align="center">
      <tr>
        <td colspan="2"  align="center" ><h2>饭否好友管理</h2></td>
      </tr>
      <tr>
        <td><span class="tips">选择好友群</span></td>
        <td rowspan="5"><div id="personal_info"></div></td>
      </tr>
      <tr>
        <td><input name="group" type="radio" value="all"  checked="checked">全部</input>
          <input name="group" type="radio" value="not_follow_me">未关注我的</input>
        <input name="group" type="radio" value="mutual">相互关注的</input></td>
      </tr>
      <tr>
        <td><span class="tips">排序</span></td>
      </tr>
      <tr>
        <td>
            <button id="button_friends_sort_last_update">上次更新时间</button>
            <button id="button_friends_sort_msg_count">消息总数</button>
            <button id="button_friends_sort_friend_count">好友总数</button>
            <button id="button_friends_sort_follower_count">关注总数</button>
            <button id="button_friends_sort_register_time">注册时间</button>
        </td>
      </tr>
      <tr>
        <td>好友列表</td>
      </tr>
      <tr>
        <td ><div id="result"></div></td>
        <td >
        <div id="management">
            <ul>
            <li><button id="frineds_check_all">Select All</button></li>
            <li><button id="frineds_invert_select">Invert</button></li>
            <li><button id="frineds_stop_follow">Stop Follow</button></li>
            
            </ul>
        </div></td>
      </tr>
    </table> 

    <div id="login">
        <h2>登录</h2> 
        <p><label for="user_id">帐号</label><input type="text" id="user_id" /></p> 
        <p><label for="password">密码</label><input type="password" id="password" /></p> 
        <div align="center"><button id="login_button">登录</button></div>
    </div>
</body>
</html>
