<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
    <link rel="stylesheet" href="/site_media/style/screen.css" type="text/css" media="screen" charset="utf-8"0> 
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/> 
    <script type="text/javascript" charset="utf-8" src="/site_media/scripts/jquery.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/site_media/jui/jquery-ui.min.js"></script> 
    <script type="text/javascript" charset="utf-8" src="/site_media/scripts/main.js"> </script> 

    <title>
        饭否好友管理
    </title> 
</head> 
<body> 
    <div id="login">
        <h2>登录</h2> 
        <p><label for="user_id">帐号</label><input type="text" id="user_id" /></p> 
        <p><label for="password">密码</label><input type="password" id="password" /></p> 
        <div align="center"><button id="login_button">登录</button></div>
    </div>
</body>
</html>
